<!-- ページ全体のレイアウトを設定します -->
<!DOCTYPE html>
<html lang="ja">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
    <div class="container">
      <!-- left column -->
      <div>
        <%- body %>
      </div>
      <!-- right column -->
      <div>
        <p>hello right</p>
      </div>
    </div>
    <!-- footer -->
    <%- partial('_partial/footer') %>
  </body>

</html>