<!-- ---
layout: layout
---
 -->

<div class="profile">
  <div>
    <img src="http://localhost:4000/text/cjfzdd4ni0002v5gl2wk6fvt2/thumbnail.jpg" alt="makura3" class="profile-image">
  </div>
  <div>
    <ul class="list">
      <li class="list-item">
        <span class="list-title">NAME</span>
        <span class="list-content">makura3</span>
      </li>
      <li class="list-item">
        <span class="list-title">GitHub</span>
        <p class="list-content"><a href="https://github.com/makura3">https://github.com/makura3</a></p>
      </li>
    </ul>
  </div>
</div>