<div class="profile">
  <div class="img-wrap">
    <img src="/images/icon.png" alt="makura3" class="profile-image">
  </div>
  <div>
    <ul class="list">
      <li class="list-item">
        <span class="list-title">NAME</span>
        <span class="list-content">makura3</span>
      </li>
      <li class="list-item">
        <span class="list-title">LIKE</span>
        <span class="list-content">猫、布団で寝ること、オクラ</span>
      </li>
      <li class="list-item">
        <span class="list-title">GITHUB</span>
        <p class="list-content"><a href="https://github.com/makura3" target="_blank">https://github.com/makura3</a></p>
      </li>
      <li class="list-item">
        <span class="list-title">COMMENT</span>
        <p class="list-content">
          普段はWebサイトのフロントエンド周りの実装をしています。<br>
          一人で作業するのではなく、色々な方とUI/UXについて意見を出し合い、協力して進めていることが多いです。
        </p>
      </li>
    </ul>
  </div>
</div>