<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <p>
        <i class="fab fa-github sns-ic"></i>
        <i class="fab fa-twitter sns-ic"></i>
        <i class="fab fa-facebook sns-ic"></i></p>
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    </div>
  </div>
</footer>