<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <p>
        <a href="https://github.com/makura3" class="ic-github"><i class="fab fa-github sns-ic"></i></a>
        <i class="fab fa-twitter sns-ic"></i>
        <!-- <i class="fab fa-facebook sns-ic"></i></p> -->
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    </div>
    <div><i class="fas fa-3x fa-chevron-circle-up"></i></div>
  </div>
</footer>