<header class="page-header">
  <!-- <div class="header-list-sm jsHeader">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> -->
  <div class="header-title">
    <a href="<%- url_for() %>" class="header-title-link">
      <h1 class="title">
      <%= config.title %>
      </h1>
    </a>
    <% if (config.subtitle){ %>
      <p class="subtitle">
        <%= config.subtitle %>
      </p>
    <% } %>
  </div>
</header>