<% if (post.categories && post.categories.length){ %>
  <div class="article-category">
    <a href=""><i class="fas fa-home"></i></a> > 
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
    }) %>
  </div>
<% } %>