.contents {
  .post {
    &:first-child {
      //margin-top: 50px;
      &::before,
      &::after {
        background: none;
      }
    }
  }
}

.post {
  margin: 50px 0;
  position: relative;
  //text-shadow: 0px 0px 15px $c_gray;

  @include max-mq(sm) {
    margin: 50px 0 50px 0;
    padding: 0 0 20px 0;
    width: auto;
  }

  &::before {
    background-color: $c_main;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    opacity: 0.5;
    position: absolute;
    top: -25px;
    width: 40%;
    z-index: 10;
  }

  &::after {
    background-color: $c_lightGray;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    top: -25px;
    width: 100%;
  }

  .post-link {
    color: $c_black;
    display: flex;
    height: 100%;
    text-decoration: none;

    &:hover {
      .post-thumbnail {
        box-shadow: none;
      }
    }

    @include max-mq(sm) {
      display: block;
    }
  }

  .post-r-panel {
    @include max-mq(sm) {
      padding: 0 20px;
    }
  }

  .post-thumbnail {
    align-items: center;
    background-color: $c_lightGray;
    border-radius: 8px;
    box-shadow: 0px 5px 15px $c_gray;
    color: $c_gray;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0px 20px 10px 0;
    width: 300px;

    @include max-mq(sm) {
      margin: 0 auto 15px auto;
    }
  }

  .post-content {
    font-size: 14px;
    font-weight: 300;
  }

  .post-title {
    font-size: 22px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    margin: 10px 0 20px 0;

    @include max-mq(sm) {
      font-size: 20px;
    }
  }

  .post-time {
    font-size: 12px;
  }

  .post-tags {
    margin-top: 10px;
    .article-tag-list-item {
      display: inline-block;
      .article-tag-list-link {
        border: 1px solid $c_gray;
        border-radius: 2px;
        color: $c_gray;
        font-size: 12px;
        margin-right: 10px;
        padding: 1px 2px 1px 5px;
        text-shadow: none;
        
        &:hover {
          background-color: $c_main;
          color: $c_white;
        }
      }
    }

    @include max-mq(sm) {
      margin: 10px 20px 0 20px;
      text-align: right;
    }
  }
}

// 投稿がない場合
.no-post {
  text-align: center;
}