.post {
  .post-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    margin: 5px 0 15px 0;

    @include min-mq(md) {
      font-size: 28px;
    }
  }

  .post-time {
    font-size: 12px;

    @include min-mq(md) {
      font-size: 14px;
    }
  }
}

.article {

  a {
    text-decoration: underline;
  }
  
  &.post {
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    text-shadow: none;
    width: auto;

    @include min-mq(md) {
      margin-top: 30px;
    }
  }

  .article-inner {
    margin: 0 10px 50px 10px;

    .article-pnkz {
      margin-bottom: 30px;
    }
  
    .article-meta {
      position: relative;
    }
  
    .article-entry {
      font-size: 14px;
      line-height: 1.6em;
      margin: 40px 0 0 0;
      letter-spacing: 0.1em;

      // 目次
      .toc {
        border: {
          bottom: 1px solid $c_gray;
          top: 1px solid $c_gray;
        }
        margin: 60px 0;
        padding: 10px 0 0 25px;
        position: relative;

        &::before {
          background-color: $c_back;
          content: '目次';
          font: {
            size: 18px;
            weight: 500;
          }
          padding: 0 10px;
          position: absolute;
          top: -12px;
        }

        ul {
          list-style: circle;
          margin-left: 0;

          li {
            margin: 10px 0;
          }

          ul {
            list-style: decimal;
            margin-left: 40px;

            ul {
              list-style: square;
            }
          }
        }

        > ul {
          > li {
            &:first-child {
              margin-top: 20px;
            }

            &:last-child {
              margin-bottom: 20px;
            }
          }
        }
      }

      //見出し
      h2 {
        font: {
          size: 24px;
          weight: 500;
        }
        line-height: 1.2em;
        margin: 100px 0 50px 0;
        position: relative;

        @include min-mq(md) {
          font-size: 26px;
        }

        //jump
        span {
          margin-top: -50px;
          padding-top: 50px;
        }

        &::before {
          background-color: $c_main;
          content: '';
          display: block;
          height: 4px;
          margin: 0 auto;
          opacity: 0.5;
          position: absolute;
          bottom: -15px;
          width: 40%;
          z-index: 10;
        }
    
        &::after {
          background-color: $c_lightGray;
          content: '';
          display: block;
          height: 4px;
          margin: 0 auto;
          position: absolute;
          bottom: -15px;
          width: 100%;
        }
      }

      h3 {
        background-color: $c_lightGray;
        font-size: 20px;
        font-weight: 400;
        margin: 60px 0 20px 0;
        padding: 10px;

        @include min-mq(md) {
          font-size: 22px;
        }
        
        //jump
        span {
          margin-top: -50px;
          padding-top: 50px;
        }
      }

      h4 {
        border-left: 4px solid $c_main;
        font-size: 20px;
        font-weight: 500;
        margin: 40px 0 15px 0px;
        padding: 5px 0 5px 10px;
      }

      ul {
        list-style: disc;
        margin-left: 20px;
      }

      ol {
        list-style: decimal;
        margin-left: 20px;
      }
    }
  }

  //強調文字
  em {
    position: relative;
    &::after {
      border: 3px solid $c_em;
      bottom: 0;
      content: '';
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  //ページング
  .paging {
    display: flex;
    justify-content: space-around;

    .article-nav-link-wrap {
      border: 1px solid $c_gray;
      border-radius: 4px;
      box-shadow: 0px 5px 15px $c_lightGray;
      text-align: center;
      width: 40%;

      @include min-mq(md) {
        width: 200px;
      }

      .article-nav-title {
        font-size: 12px;
        overflow: hidden;
        padding: 0 10px 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .article-nav-caption {
      color: $c_black;
      display: inline-block;
      padding: 10px 10px 5px 10px;
    }

    .fa-angle-left {
      margin-right: 10px;
    }

    .fa-angle-right {
      margin-left: 10px;
    }

  }
}

//記事内フッター
.article-footer {
  margin-top: 50px;
}