.article {
  
  &.post {
    text-shadow: none;
  }

  .article-inner {
    margin: 50px 0;
  
    .article-title {
      font-size: 24px;
      line-height: 1.3em;
      margin: 20px 0 0 0;
    }
  
    .article-meta {
      position: relative;
    }
  
    .article-entry {
      font-size: 16px;
      line-height: 1.5em;
      margin: 20px 0 0 0;
    }
  }
}