.footer {
  background-color: $c_footer;
  color: $c_white;
  font-size: 14px;
  margin-top: auto;
  padding: 40px 0;
  position: relative;
  text-align: center;

  .footer-icon {
    color: $c_footer;
    right: 10px;
    position: absolute;
    top: -28px;
  }

  .sns-ic {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px 10px 10px;
  }

  .fa-chevron-circle-up {
    bottom: 30px;
    color: $c_tp_black;
    right: 30px;
    position: fixed;
  }
}