.footer-tag-List {
  border-bottom: 1px solid $c_footer;
  border-top: 1px solid $c_footer;
  padding: 30px 10px;

  .title {
    margin-bottom: 10px;
  }

  .tag-list {

    .tag-list-item {
      border: 1px solid $c_footer;
      border-radius: 15px;
      display: inline-block;
      margin: 5px;
      min-width: 50px;
      padding: 5px 5px 5px 10px;
      position: relative;
      text-align: center;

      &:hover {
        background-color: $c_main;
        border-color: $c_white;

        .tag-list-link {
          color: $c_white;
        }
      }

      .tag-list-link {
        border-radius: 2px;
        color: $c_black;
        font-size: 12px;
        margin-right: 5px;
        padding: 3px 2px 3px 5px;
        text-shadow: none;

        &::before {
          bottom: 0;
          content: '';
          left: 0;
          right: 0;
          position: absolute;
          top: 0
        }
      }
    }
  }
}

.footer {
  background-color: $c_footer;
  color: $c_white;
  font-size: 14px;
  margin-top: auto;
  padding: 40px 0;
  position: relative;
  text-align: center;

  .footer-icon {
    color: $c_footer;
    right: 10px;
    position: absolute;
    top: -28px;
  }

  .sns-ic {
    cursor: pointer;
    color: $c_lightGray;
    font-size: 20px;
    margin: 0 10px 10px 10px;
  }

  .fa-chevron-circle-up {
    bottom: 30px;
    color: $c_tp_black;
    right: 30px;
    position: fixed;
  }
}