.page-header {
  background: url(./../images/top.jpg), linear-gradient(125deg, #61b6ff, #b5ca5f) fixed;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  @include max-mq(sm) {
    background: url(./../images/top_sm.jpg), linear-gradient(125deg, #61b6ff, #b5ca5f) fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-list-sm {
    right: 0;
    position: absolute;

    .menu-icon {
      box-sizing: border-box;
      display: inline-block;
      height: 30px;
      right: 20px;
      top: 20px;
      position: relative;
      width: 30px;
  
      span {
        background-color: $c_white;
        border-radius: 2px;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
  
        &:nth-of-type(1) {
          top: 0px;
        }
  
        &:nth-of-type(2) {
          top: 10px;
        }
  
        &:nth-of-type(3) {
          top: 20px;
        }
      }
    }
  }

  .header-title {
    color: $c_black;
    padding: 100px 0px;
    text-align: center;

    .header-title-link {
      display: inline-block;

      .title {
        color: $c_white;
        font-size: 60px;
        font-weight: 300;
        text-decoration: none;
        text-shadow: 0px 5px 20px $c_black;
  
        @include max-mq(sm) {
          font-size: 60px;
        }
      }
    } 

    .subtitle {
      color: $c_white;
      letter-spacing: 0.5em;
      margin-top: 30px;
      text-shadow: 0px 5px 10px $c_black;

      @include max-mq(sm) {
        font-size: 12px;
        padding: 0 10px;
      }
    }
  }
}

.header-nav-link {
  margin-right: 10px;
  text-decoration: none;
}

//nav
.header-list {
  display: flex;
  justify-content: center;
  margin-top: 280px;
  padding: 10px;

  .header-nav-link {
    border-bottom: 2px solid $c_main;
    color: $c_black;
    padding: 5px 8px;
  }
}