//ページごとにヘッダーのデザインを作り分け
.page-header {
  &.header_min {
    height: 150px;
    .header-title {
      @include max-mq(sm) {
        padding: 0;
      }

      .header-title-link {
        margin-top: 30px;
      }

      .title-logo {
        fill: $c_white;
        height: auto;
        margin-top: 50px;
        width: 200px;
      }
    }
  }
}

.page-header {
  background: url(./../images/top.jpg),rgba(47, 32, 0, 0.5);
  background-blend-mode: hue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;

  @include min-mq(md) {
    height: 400px;
  }

  // .header-list-sm {
  //   right: 0;
  //   position: absolute;

  //   .menu-icon {
  //     box-sizing: border-box;
  //     display: inline-block;
  //     height: 30px;
  //     right: 20px;
  //     top: 20px;
  //     position: relative;
  //     width: 30px;
  
  //     span {
  //       background-color: $c_white;
  //       border-radius: 2px;
  //       height: 2px;
  //       left: 0;
  //       position: absolute;
  //       width: 100%;
  
  //       &:nth-of-type(1) {
  //         top: 0px;
  //       }
  
  //       &:nth-of-type(2) {
  //         top: 10px;
  //       }
  
  //       &:nth-of-type(3) {
  //         top: 20px;
  //       }
  //     }
  //   }
  // }

  .header-title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;

    .header-title-link {
      color: $c_white;
      display: inline-block;
      font-size: 50px;
      font-weight: 100;
    }

    .title-logo {
      fill: $c_white;
      height: auto;
      margin-top: 50px;
      width: 300px;

      @include min-mq(md) {
        margin-top: 0;
      }
    }

    .title {
      display: none;
    }

    .subtitle {
      border-top: 1px solid $c_white;
      color: $c_white;
      font-size: 12px;
      letter-spacing: 0.5em;
      margin-top: 25px;
      padding: 0 10px;

      span {
        display: block;
        margin: 5px 0;
      }

      @include min-mq(md) {
        font-size: 14px;
        padding: 10px 0 0 0;

        span {
          display: inline-block;
          margin: 0;
        }
      }
    }
  }
}

//nav
.header-nav-wrap {
  border-top: 1px solid $c_nav;
  border-bottom: 1px solid $c_nav;
  line-height: 50px;
  min-height: 50px;
  text-align: center;
  width: 100%;
  z-index: 20;

  .logo-wrap {
    left: 20px;
    position: absolute;
    top: 10px;
    .logo {
      height: 17px;
      width: 26px;
    }
  }

  .header-nav {
    margin: 0 0 0 10px;
  }

  .header-nav-link {
    color: $c_nav;
    font-weight: 400;
    margin-right: 15px;
    padding: 5px 8px;
    position: relative;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      border-left: 5px solid $c_nav;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      content: '';
      left: -5px;
      position: absolute;
      top: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}