$highlight-background: #555555;
$highlight-current-line: #393939;
$highlight-selection: #515151;
$highlight-code: #E6E6E6;
$highlight-foreground: #DDDDDD;
$highlight-comment: #80b26b;
$highlight-red: #e57373;
$highlight-orange: #FFB74D;
$highlight-green: #81C784;
$highlight-aqua: #4DD0E1;
$highlight-blue: #64B5F6;
$highlight-purple: #9575CD;

%line-numbers {
  color: #999999;
  font-size: 12px;
};

.article-entry {

  //引用
  blockquote {
    p {
      border-left: 5px solid $highlight-foreground;
      margin: 10px;
      padding: 5px 10px;
    }
  }

  code {
    background-color: $highlight-code;
    margin: 0 2px 0 0;
    padding: 0px 4px;
  }

  .code {
    background: none;
    text-shadow: none;
    padding: 0;
  }

  .highlight {
    background: $highlight-background;
    border-radius: 8px;
    color: $highlight-foreground;
    margin: 10px 0;
    overflow: hidden;
    overflow-x: scroll;
    padding: 15px;

    table {
      margin: 0;
      width: auto;

      tr {
        border: none;
      }
    }
  }

  pre {
    border: none;
    margin: 0;
    padding: 0;

    .comment,
    .title,
    .section {
      color: $highlight-comment;
    }

    .variable,
    .attribute,
    .tag,
    .ruby .constant,
    .xml .tag .title,
    .xml .pi,
    .xml .doctype,
    .html .doctype,
    .css .id,
    .css .class,
    .css .pseudo {
      color: $highlight-red;
    }

    .number,
    .preprocessor,
    .built_in,
    .literal,
    .params,
    .constant {
      color: $highlight-orange;
    }
      
    .class,
    .ruby .class .title,
    .css .rules .attribute {
      color: $highlight-green;
    }

    .string,
    .value,
    .inheritance,
    .header,
    .ruby .symbol,
    .xml .cdata {
      color: $highlight-green;
    }
      
    .css .hexcolor {
      color: $highlight-aqua;
    }
    
    .python .decorator,
    .python .title,
    .ruby .function .title,
    .ruby .title .keyword,
    .perl .sub,
    .javascript .title,
    .coffeescript .title {
      color: $highlight-blue;
    }

    .keyword,
    .javascript .function {
      color: $highlight-purple;
    }
  }

  figcaption {
    //clearfix();
    font-size: 0.85em;
    color: $highlight-comment;
    line-height: 1em;
    margin-bottom: 1em;

    a {
      float: right;
    }
  }

  .gutter {
    border: none;
    pre {
      @extend %line-numbers;
      text-align: right;
      padding-right: 10px;
    }
  }

  .line {
    //height: font-size * line-height;

    &.marked {
      background: $highlight-selection
    }
  }
}

  
  .gist {
    //margin: 0 article-padding * -1;
    border-style: solid;
    //border-color: $color-border;
    border-width: 1px 0;
    background: $highlight-background;
    //padding: 15px article-padding 15px 0;

    .gist-file {
      border: none;
      margin: 0;

      .gist-data {
        background: none;
        border: none;

        .line-numbers {
          background: none;
          border: none;
          padding: 0 20px 0 0;
        }
          
        .line-data {
          padding: 0 !important
        }
      }

      .gist-data {
        background: none;
        border: none;

        .line-numbers {
          background: none;
          border: none;
          padding: 0 20px 0 0;
        }

        .line-data {
          padding: 0 !important;
        }
      }

      .highlight {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
      
      .gist-meta {
        background: $highlight-background;
        color: $highlight-comment;
        text-shadow: 0 0;
        padding: 0;
        margin-top: 1em;

        a {
          font-weight: normal;
          &:hover {
            text-decoration: underline;
          }
        }
      }
  }
