.profile {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @include max-mq(sm) {
    display: block;
  }

  .img-wrap {
    text-align: center;
    
    .profile-image {
      margin-right: 30px;
      width: 150px;
    }
  }

  //削除予定
  .dmImg {
    align-items: center;
    background-color: $c_main;
    border-radius: 50px;
    color: $c_white;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-right: 30px;
    width: 100px;
  }
}