.profile {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @include max-mq(sm) {
    display: block;
  }

  .img-wrap {
    text-align: center;
    
    .profile-image {
      margin-right: 30px;
      width: 150px;
    }
  }
}

.sub-title {
  margin: 30px 10px;
  text-align: center;
}