//fonts
$font: "Rounded Mplus 1c", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//main colors #6B5B95
$c_main: #c86f6f;
$c_tp_main: rgba(0, 0, 0, 0.1);
$c_link: #c86f6f;

//base colors
$c_back: #FAFAFA;

//basic colors
$c_black: #777777;
$c_tp_black: rgba(50, 50, 50, 0.3);
$c_gray: #CCCCCC;
$c_lightGray: #EEEEEE;
$c_white: #FFFFFF;

//socal
$c_git: #333333;
$c_twr: #67AAEB;
$c_facebook: #415993;
$c_rss: #f26522;

//media queries
$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin max-mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}