//fonts
$font: "Rounded Mplus 1c", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//main colors
$c_main: #009688;
//base colors
$c_base: #FAFAFA;
//$c_base: #CCCCCC;
//basic colors
$c_black: #666666;
$c_gray: #CCCCCC;
$c_lightGray: #EEEEEE;
$c_white: #FFFFFF;

//media queries
$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin max-mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}