//fonts
$font: "Rounded Mplus 1c", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//main colors #6B5B95
$c_main: #c86f6f;
$c_tp_main: rgba(0, 0, 0, 0.4);
$c_link: #c86f6f;
$c_link_tp: rgba(200, 111, 111, 0.7);

//base colors
$c_back: #FAFAFA;
$c_footer: #333333;

//em
$c_em: #E9D985;

//basic colors
$c_black: #666666;
$c_tp_black: rgba(50, 50, 50, 0.3);
$c_gray: #CCCCCC;
$c_lightGray: #EEEEEE;
$c_white: #FFFFFF;

//socal
$c_git: #333333;
$c_hatebu: #00a4de;
$c_twr: #67AAEB;
$c_facebook: #415993;
$c_google: #DB4A39;
$c_rss: #f26522;
$c_line: #5ae628;

//media queries
$breakpointList: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)'
//  'xl': 'screen and (min-width: 1200px)',
) !default;

$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin min-mq($breakpoint: md) {
  @media #{map-get($breakpointList, $breakpoint)} {
    @content;
  }
}

@mixin max-mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}