@charset "UTF-8";

//import
@import "normalize/import-now";
@import "./_parts/_variable.scss";

//fonts
@import "https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css";

@import "./_parts/_header.scss";
@import "./_parts/_footer.scss";
@import './_parts/_socal.scss';

@import "./_parts/archive.scss";

body {
  font-family: $font;
  letter-spacing: 0.05em;
  line-height: 1.3em;
}

.container {
  background-color: $c_back;
}

.contents {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 990px;
  @include max-mq(sm) {
    width: auto;
  }
}