@charset "UTF-8";

//import
@import "normalize/import-now";
@import "_reset";
@import "./_parts/_variable.scss";

//fonts
@import "https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css";

@import "./_parts/_header.scss";
@import "./_parts/_footer.scss";
@import './_parts/_socal.scss';

@import "./_parts/archive.scss";

body {
  font-family: $font;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.container {
  background-color: $c_back;
}

.contents {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;

  @include max-mq(md) {
    width: 80%;
  }

  @include max-mq(sm) {
    width: auto;
  }
}